doctype html
html 
	head
		title Login failed
		link(rel="stylesheet" type="text/css" href="/style.css")
	body
		div.info
			p You must enter username and password or username/password too short (min. 3/6 letters).

			a(href= url) 
				button Return
		div.image
			img.unhappy(src='/unhappy.png')